window {
margin: 0px;
border: 1px solid #83a598;
background-color: #83a598;
}

#input {
margin: 5px;
border: none;
color: #e0ac9d;
background-color: #6d4c4a;
}

#inner-box {
margin: 5px;
border: none;
background-color: #83a598;
}

#outer-box {
margin: 5px;
border: none;
background-color: #83a598;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #6d4c4a;
}

#entry:selected {
background-color: #92b0a4;
}
